---
Language: Cpp
BasedOnStyle: LLVM
IndentWidth: 8
UseTab: ForIndentation
BreakBeforeBraces: Stroustrup
AlignTrailingComments: false
SpacesInParentheses: false
SpacesInSquareBrackets: false
SpaceAfterCStyleCast: false
SpaceBeforeParens: ControlStatements
MaxEmptyLinesToKeep: 2
ColumnLimit: 80
